<p>Thanks!</p>

Thanks for buying our shoes!

<a href="https://s3-ap-southeast-2.amazonaws.com/gogreenaustralia/blue_shoe.png"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>